

<table width="100%">
    <tr>
        <td class="full-width-image">
            <img src="{{ image }}" width="600" alt=""/>
        </td>
    </tr>
    <tr>
        <td class="inner contents" bgcolor="ffffff">
            <p class="h1">{{ title }}</p>
            <p class="text">
                {{ content }}
            </p>
        </td>
    </tr>
</table>
