@import "mixins";
@import "column_2_style";

//@import "column_2";
/*

html, body {
	background: #CCC;
}

table {
	border-spacing: 0;
}

.wrapper {
	background: #FFF;
	max-width: 550px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	a {
		color: #E82C0C;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		max-width: 100%;
	}

	.headerText {
		color: #000;

		p {
			margin: 2px;
			@include font-size(12px);
		}
	}

	.mainBody > td > table {
		padding: 0 20px;
	  	width: 100%;

		td {
			/!*vertical-align: top;
			width: 30%;*!/

			/!*&:first-child {
				padding-right: 20px;
				width: 70%;
			}*!/
		}
	}
}*/

/* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
body {
    background-color: #ddd;
    margin: 0;
    min-width: 100%;
    padding: 0;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

table {
    background-color: #eee;
    border-spacing: 0;
    color: #333333;
    font-family: sans-serif;

    td {
        border-collapse: collapse;
        padding: 0;
    }
}
/* Resets all body margins and padding to 0 for good measure */
img {
    border: 0;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    display: block;
}

a img {
    border: none;
}


.table_main_container {
    border-spacing: 0;
    color:#333333;
    font-family: sans-serif;
    table-layout: fixed;
}

.wrapper {
    table-layout: fixed;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.webkit {
    max-width: 580px;
}

.headerText {
    font-size: 12px;

}

.topImage {

}

.mainBody {

}

.ReadMsgBody {
    width: 100%;
}

/* Forces Hotmail to display emails at full width */
.ExternalClass {
    width: 100%;

    p, span, font, td, div {
        line-height: 100%;
    }

    /* Forces Hotmail to display normal line spacing */
    * {
        line-height: 100%
    }
}


.thread-item.expanded .thread-body .body, .msg-body {
    display: block;
}
/* This resolves the Outlook 07, 10, and Gmail td padding issue. */


.columns_2_device_width {
    Margin: 0 auto;
    max-width: 580px;
    table-layout: fixed;
    width: 100%;
}




/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 14px;
    Margin-bottom: 10px;
}

/*Two column layout*/

.inner {
    background: #eee;
    padding: 30px;
}

.two-column {
    text-align: center;
    font-size: 0;
}

.two-column .column {
    width: 100%;
    max-width: 290px;
    display: inline-block;
    vertical-align: top;
}

.two-column .contents {
    font-size: 14px;
    text-align: left;
}

.two-column img {
    width: 100%;
    max-width: 290px;
    height: auto;
}

.two-column .title {
    padding: 0 10px;
}

.two-column .text {
    line-height: 18px;
    padding: 10px;
}
